 body {
        font-family: 'Lato', sans-serif;
    }

.theme-navbar{
    background-color: #0066cc;
    color: white;
  
}
.theme-navbar-light{
    background-color: #add1f5;
}
.theme-orange-btn{
    background-color: #ff6600;

}

.theme-orange-btn:hover{
    background-color: #ff6600;
    opacity: 0.8;

}

.theme-green-btn{
    background-color: #28A745;

}
.theme-green-btn:hover{
    background-color: #28A745;
    opacity: 0.8;

}
.theme-footer{
    background-color: black;
    margin-top: 10px;

}
.theme-product img:hover{
    transform: scaleX(-1);
}

.checked{
    color: #ff6600;
}

.dashboard-card {
    border-radius: 15px;
    transition: 0.3s ease;
}

.dashboard-card:hover {
    transform: translateY(-5px);
}

.icon-box {
    width: 45px;
    height: 45px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    width: 250px;
    min-height: 100vh;
    background: linear-gradient(180deg, #1e293b, #0f172a);
    position: fixed;
}

.main-content {
    margin-left: 250px;
    background-color: #f8f9fa;
    min-height: 100vh;
}

.sidebar-nav .nav-link {
    color: #cbd5e1;
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 5px;
    transition: 0.3s;
}

.sidebar-nav .nav-link:hover {
    background-color: #334155;
    color: #fff;
}

.sidebar-nav .nav-link.active {
    background-color: #f97316;
    color: white;
    font-weight: 600;
}